/* Règles pour gestion normale et au delà*/
@media screen and (min-width: 900px) {
    .bloc_page { /* Gestion de la page entière */
        width: 50%; 
        margin: auto;
        display: flex;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        color: #404040;
    }

    /* LEFT BLOC
    ------------*/

    .left_block { /* Bloc de gauche, gris foncé */
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: auto;
        background-color: #212121;
        color: #f7f7f7;
    }

    .bloc_categorie { /* Police, texte, couleur, background des couleurs des catégories */
        background-color: #ff6f00;
        text-transform: uppercase;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        color: #f7f7f7; 
        padding-top: 5px;
        padding-bottom: 5px;
    }

    figure{ /* Placement de la photo et marges */
        text-align:center;
        margin:40px 0px 40px 0px;
    }
    .ma_photo { /* Photo avec bordures arrondies orange */
        border: 3px solid #ff6f00;
        border-radius: 50%;
        max-width: 170px;
    }

    li { /* liste */
        list-style-type: none;
        margin-right: 10px;
        margin-bottom: 8px;
    }

    .fab { /* Icons réseaux sociaux */
        font-size: 150%;
        color: #f7f7f7;
    }

    .fas { /* Icons loisirs */
        font-size: 125%;
    }

    .bloc_icons_loisirs {
        padding: 8px;
        border: 2px solid #ff6f00;
        border-radius: 50%;
        width: 9%;
        text-align: center;
    }

    .icons_loisirs { /* alignement et positionnement */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact { /* Police, texte, couleur, espacement */
        display: flex;
        flex-direction: column;
        color: #f7f7f7;
        font-size: 12px;
        margin-left: 12%;
        margin-top: 10%;
        padding: 0;

    }

    .contact_infos { /* Réponse contact */
        margin-top: 2px;
    }

    .contact_intitule { /* Intitulé contact */
        font-weight: 600;
        text-decoration: underline;
        margin: 0;
    }

    .email, .monsite { /* Couleur des liens, décoration */
        color: #f7f7f7;
        text-decoration: none;

    }

    .description { /* Police, Fer, Couleur de la zone description */
        color: #f7f7f7;
        text-align: justify;
        font-size: 12.5px;
        margin-left: 12%;
        margin-right: 13%;
        margin-bottom: 10%;
    }

    .reseaux { /* Gestion du bloc des réseaux sociaux */
        display: flex;
        margin-left: 0;
        padding-left: 10%;
    }

    .icons_reseaux { /* Alignement et positionnement */
        display: flex;
    }

    .infobulle { /* Infobulle pour l'icône Discord */
        position: relative;  
        cursor: help;
    }

    .infobulle:hover::after,
    .infobulle:focus::after { /* Positionnement de l'infobulle */
        content: attr(aria-label); 
        position: absolute;
        top: 2.4em;
        left: 50%;
        transform: translateX(-50%); 
        z-index: 1; 
        white-space: nowrap;  
    }

    .grid { /* Zone compétence avec l'utilisation du CSS grid pour l'alignement */
        display: grid;
        justify-content: center;
        grid-template-columns: 45px 45px 45px 45px;
    }

    /* RIGHT BLOCK
    --------------*/

    .right_block { /* Bloc de droite, gris clair */
        flex-direction: column;
        width: 70%;
        height: auto;
        background-color: #f7f7f7;
    }

    .titre_du_cv { /* Positionnement titre */
        display: flex;
        margin-left: 7%;
    }

    h1 { /* Propriété du titre principal */
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2.5em;
        margin-bottom: 0;
        margin-top: 15%;
    }

    .prenom { /* Couleur du prénom uniquement */
        color: #ff6f00;
    }

    .sous_titre { /* Taille, positionnement */
        font-size: auto;
        margin-bottom: 30px;
        margin-top: 0;
        font-family: Montserrat;
        font-weight: 400;
    }

    .line_titre { /* Ligne graphique sous une partie de "Développeuse" */
        border-bottom: 2px solid #ff6f00; 
        padding-bottom: 6px;
    }

    .first_cat, .second_cat, .third_cat { /* Marges des blocs catégories */
        margin-left: 7%;
    }

    .formation, .expe_pro, .reco { /* Marges, Transformation du texte en Cap, Bordure orange */
        display: flex;
        margin-right: 6%;
        padding-bottom: 2%;
        text-transform: uppercase;
        border-bottom: 2px solid #ff6f00;
    }

    i { /* Taille et couleur des icons titres */
        font-size: 140%;
        color: #ff6f00;
    }

    .fa-graduation-cap, .fa-briefcase, .fa-pen { /* Marges et tailles des icons titres */
        margin-right: 15px;
        font-size: 20px;
    }

    .fa-dot-circle, .fa-circle { /* Taille et marges des ancres des Dates */
        font-size: 80%;
        margin-right: 10px;
    }

    .item { /* Gestion des blocs informations */
        display: flex;
    }

    .information_rbloc { /* Marges et taille des blocs infos */
        margin-right: 15px;
        width: 1002px;
    }

    .date { /* Tailles de font, marges et taille des blocs date */
        font-size: 80%;
        width: 600px;
        margin-right: 20px;
    }

    .lieu { /* Décalage unique pour les lieux */
        margin: 0;
        margin-left: 20px;
    }

    .periode { /* Marges pour le bloc période, gestion des espacements */
        margin-top: 15px;
        margin-bottom: 2px;
    }

    .organisme { /* Marges, Graisse, Transformation en Cap */
        margin-bottom: 0;
        margin-top: 15px;
        margin-right: 25px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .nom_forma, .poste { /* Marges pour les sous titres de Organismes */
        margin: 0;
        margin-top: 10px;
    }

    .resume { /* Gestion du texte descriptif */
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 8%;
        text-align: justify;
        font-size: 85%;
    }

    .information_reco_cat { /* Gestion du bloc information recommandation */
        display: flex;
        font-size: 90%;
    }

    .second_reco { /* Espacement de la seconde recommandation par rapport à la première */
        margin-left: 22%;
    }

    .nom_reco { /* Transformation en Cap et marge basse des titres des reco */
        text-transform: uppercase;
        margin-bottom: 2px;
    }

    .fonction_reco { /* Marges et Taille de police de la fonction de la reco */
        margin-top: 0;
        margin-bottom: 0;
        font-size: 85%;
    }

    .contact_reco { /* Marges et Taille de police des moyens de contact de la reco */
        margin-top: 2%;
        margin-bottom: 20%;
        font-size: 82%;
    }
}

/* Règles pour gestion mobile & tablette >900px */
@media screen and (max-width: 900px) {
    .bloc_page { /* Gestion de la page entière */
        width: 50%;
        zoom: 1; 
        display: flex;
        flex-direction: column;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        color: #404040;
    }
    
    /* LEFT BLOC
    ------------*/
    
    .left_block { /* Bloc de gauche, gris foncé */
        justify-content: center;
        width: 200%;
        margin: auto;
        background-color: #212121;
        color: #f7f7f7;
        padding-bottom: 30px;
    }
    
    .bloc_categorie { /* Police, texte, couleur, background des couleurs des catégories */
        background-color: #ff6f00;
        text-transform: uppercase;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        color: #f7f7f7; 
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 3px;
    }
    
    figure{ /* Placement de la photo et marges */
        text-align:center;
        margin:45px 0px 45px 0px;
    }
    .ma_photo { /* Photo avec bordures arrondies orange */
        border: 3px solid #ff6f00;
        border-radius: 50%;
        max-width: 170px;
    }
    
    li { /* liste */
        list-style-type: none;
        margin-right: 10px;
    }
    
    .fas { /* Icons loisirs */
        font-size: 125%;
    }


    .bloc_icons_loisirs {
        padding: 8px;
        border: 2px solid #ff6f00;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .fab { /* Icons réseaux sociaux */
        font-size: 150%;
        color: #f7f7f7;
    }
    
    .icons_loisirs { /* alignement et positionnement */
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 35px;
        padding: 0;
        margin-left: 2%;

    }
    
    .contact { /* Police, texte, couleur, espacement */
        display: flex;
        flex-direction: column;
        color: #f7f7f7;
        font-size: 15px;
        margin-left: 12%;
        margin-top: 5%;
        padding: 0;
    }
    
    .contact_infos { /* Réponse contact */
        margin-top: 2px;
    }
    
    .contact_intitule { /* Intitulé contact */
        font-weight: 600;
        text-decoration: underline;
        margin: 0;
    }
    
    .email, .monsite { /* Couleur des liens, décoration */
        color: #f7f7f7;
        text-decoration: none;
    
    }
    
    .description { /* Police, Fer, Couleur de la zone description */
        color: #f7f7f7;
        text-align: justify;
        font-size: 15px;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10%;
        margin-top: 9%;
    }
    
    .reseaux { /* Gestion du bloc des réseaux sociaux */
        display: flex;
        margin-left: 0;
        padding-left: 10%;
    }
    
    .icons_reseaux { /* Alignement et positionnement */
        display: flex;
    }
    
    .infobulle { /* Infobulle pour l'icône Discord */
        position: relative;  
        cursor: help;
    }
    
    .infobulle:hover::after, /* Affichage de l'infobulle */
    .infobulle:focus::after { /* Positionnement de l'infobulle */
        content: attr(aria-label); 
        position: absolute;
        top: 1.8em;
        left: 50%;
        transform: translateX(-50%); 
        z-index: 1; 
        white-space: nowrap;  
    }
    
    .grid { /* Zone compétence avec l'utilisation du CSS grid pour l'alignement */
        display: grid;
        justify-content: center;
        margin-top: 6%;
        grid-template-columns: 45px 45px 45px 45px;
    }
    
    /* RIGHT BLOCK
    --------------*/
    
    .right_block { /* Bloc de droite, gris clair */
        width: 200%;
        margin: auto;
        background-color: #f7f7f7;
        height: 1480px;
    }
    
    .titre_du_cv { /* Positionnement titre */
        display: flex;
        margin-left: 7%;
    }
    
    h1 { /* Propriété du titre principal */
        font-family: Montserrat;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2.5em;
        margin-bottom: 0;
        margin-top: 15%;
    }
    
    .prenom { /* Couleur du prénom uniquement */
        color: #ff6f00;
    }
    
    .sous_titre { /* Taille, positionnement */
        font-size: auto;
        margin-bottom: 30px;
        margin-top: 0;
        font-family: Montserrat;
        font-weight: 400;
    }
    
    .line_titre { /* Ligne graphique sous une partie de "Développeuse" */
        border-bottom: 2px solid #ff6f00; 
        padding-bottom: 6px;
     }
    
    .first_cat, .second_cat, .third_cat { /* Marges des blocs catégories */
        margin-left: 7%;
    }

    .formation, .expe_pro, .reco { /* Marges, Transformation du texte en Cap, Bordure orange */
        display: flex;
        margin-right: 8%;
        padding-bottom: 2%;
        text-transform: uppercase;
        border-bottom: 2px solid #ff6f00;
    }
    
    i { /* Taille et couleur des icons titres */
        font-size: 140%;
        color: #ff6f00;
    }
    
    .fa-graduation-cap, .fa-briefcase, .fa-pen { /* Marges et tailles des icons titres */
        margin-right: 15px;
        font-size: 20px;
    }
    
    .fa-dot-circle, .fa-circle { /* Taille et marges des ancres des Dates */
        font-size: 80%;
        margin-right: 10px;
    }

    .item { /* Gestion des blocs informations */
        display: flex;
        flex-direction: column;
    }
    
    .information_rbloc { /* Marges et taille des blocs infos */
        margin-right: 15px;
        margin-left: 20px;
    }
    
    .date { /* Tailles de font, marges et taille des blocs date */
        font-size: 80%;
        margin-right: 20px;
    }
    
    .lieu { /* Décalage unique pour les lieux */
        margin: 0;
        margin-left: 20px;
    }
    
    .periode { /* Marges pour le bloc période, gestion des espacements */
        margin-top: 15px;
        margin-bottom: 2px;
    }
    
    .organisme { /* Marges, Graisse, Transformation en Cap */
        margin-bottom: 0;
        margin-top: 15px;
        margin-right: 25px;
        text-transform: uppercase;
        font-weight: 400;
        width: 300px;
    }
    
    .nom_forma, .poste { /* Marges pour les sous titres de Organismes */
        margin: 0;
        margin-top: 10px;
    }
    
    .resume { /* Gestion du texte descriptif */
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 6%;
        text-align: justify;
        font-size: 85%;
        width: 95%;
    }
    
    .information_reco_cat { /* Gestion du bloc information recommandation */
        display: flex;
        flex-direction: column;
        font-size: 90%;
    }
    
    .second_reco { /* Espacement de la seconde recommandation par rapport à la première */
        margin-bottom: 4%;
        margin-left: 0;
    }

    .nom_reco { /* Transformation en Cap et marge basse des titres des reco */
        text-transform: uppercase;
        margin-bottom: 2px;
        margin-left: 20px;
        margin-top: 5px;
    }
    
    .fonction_reco { /* Marges et Taille de police de la fonction de la reco */
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
        font-size: 85%;
    }
    
    .contact_reco { /* Marges et Taille de police des moyens de contact de la reco */
        margin-top: 1%;
        margin-bottom: 5%;
        margin-left: 20px;
        font-size: 82%;
    }
}